
<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
        <li class="nav-item small">
            <a class="nav-link" href="https://account.activedirectory.windowsazure.com/profile" target="_blank">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">Abmelden</a>
        </li>
}
else
{
        <li class="nav-item">
            <a class="nav-link" asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Anmelden</a>
        </li>
}
</ul>
