@page
@model robert_brands_com.Pages.Fotos.NepalModel
@{
    ViewData["Title"] = "Nepal 2016";
    ViewBag.Description = "2 Wochen Trekking in Nepal, im Everest-Gebiet";
    ViewBag.Keywords = "Trekking,Nepal,Everest,Himalaya";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                <a data-flickr-embed="true" data-header="true" data-footer="true" href="https://www.flickr.com/photos/rbrands/albums/72157674186067250" target="_blank" title="2016-10 Nepal"><img class="img-fluid" src="https://c1.staticflickr.com/6/5818/29778508704_86ae96f2fd_h.jpg" width="1600" height="1067" alt="2016-10 Nepal"></a>
            </p>
            <p><a href="https://www.flickr.com/photos/rbrands/albums/72157674186067250" target="_blank" title="Fotos auf Flickr">Fotos oben auf Flickr</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h1 class="h3 text-muted">Übersicht</h1>
            <ul>
                <li>
                    Reisedatum 1.10. - 16.10.2016. Dann sollte eigentlich die Monsunzeit vorbei sein, war es allerdings bei uns noch nicht.
                    D.h. es hat öfters ein wenig geregnet, aber viel schlimmer - erst gegen Ende wurde die Sicht klar! Also lieber etwas später fahren.
                </li>
                <li>
                    Die Reise heißt beim <a href="http://www.dav-summit-club.de/" target="_blank" title="DAV Summit Club">DAV Summit Club</a> <em><a href="https://www.dav-summit-club.de/reisedetails/detail/everest-summit-lodges-komfort-trekking-sherpa-kloster-tengpoche-2017.html" target="_blank" title="Everest Summit Lodges">"Everest Summit Lodges – Komfort-Trekking zum Kloster Tengpoche"</a></em>
                    Die Reisebeschreibung auf der Summit Club Seite kann man unter dem Kürzel "HIESL" finden.
                </li>
                <li><a href="http://www.gpsies.com/mapFolder.do?id=75335" title="Nepal" target="_blank"><img src="http://www.gpsies.com/images/linkus.png" border="0" alt="Nepal" />Alle Etappen auf GPSies</a></li>
            </ul>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/187873739?byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <p><a href="https://vimeo.com/187873739">Lukla</a> from <a href="https://vimeo.com/robertbrands">Robert Brands</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
        <div class="col-md-8">
            <h3 class="text-muted">Karte</h3>
            <img class="img-fluid" src="~/images/Nepal/Kartenuebersicht.jpg" alt="Kartenübersicht" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-muted">Etappen</h3>
            <div class="table-responsive">
                <table class="table table-sm table-bordered">
                    <thead class="bg-light">
                        <tr>
                            <td>Etappe</td>
                            <td>Beschreibung vom Summit Club</td>
                            <td>GPS-Daten</td>
                            <td>Fotos</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>"Einwandern" am Hotel Haatiban, 750 Hm</td>
                            <td>
                                Von der Hotelterrasse genießen Sie bei guter Sicht die Prachtkulisse der Sechs- und Siebentausender von Langtang- und Ganesh Himal. Nach dem Frühstück werden Sie von Ihrem Bergwanderführer zu einer ersten Eingehtour auf den „Hausberg” Campadewi, 2278 m, eingeladen. Der Gipfel bietet neben einem kleinen Heiligtum eine großartige Fernsicht vom Manaslu bis zum Everest. Dann steigen Sie zur Opferstätte Dakshinkali ab, die Hindus und Buddhisten gleichermaßen heilig ist. Die gesamte Region ist geprägt von zahlreichen Klöstern aller buddhistischen Glaubensrichtungen. Ein idealer Auftakt ihrer Nepalreise. Rückkehr zum Berghotel Haatiban.
                            </td>
                            <td>
                                <a href="http://www.gpsies.com/map.do?fileId=vhicieukxmvdtozk" title="GPSies - Nepal 1 - Vom Berghotel Haatiban zum Hausberg Campadewi" target="_blank"><img src="http://www.gpsies.com/images/linkus.png" width="80" border="0" alt="GPSies - Nepal 1 - Vom Berghotel Haatiban zum Hausberg Campadewi" /></a>
                            </td>
                            <td>
                                <a href="https://1drv.ms/f/s!AlVNeomY2iiZnqJ11m-WeGfkJ9jTHA" title="Fotos Haatiban" target="_blank"><img class="img-fluid" src="https://c1.staticflickr.com/6/5781/30318749051_792f239880_m.jpg" height="160 " alt="Fotos Kathmandu-Tal"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Lukla, 300 Hm</td>
                            <td>
                                Sichtflug nach Lukla, 2800 m, wo Sie von Ihrem Bergwanderführer nahe am Flughafen in der ersten Everest Summit Lodge erwartet werden. Nach herzlicher Aufnahme und dem Mittagessen führt eine Akklimatisationstour durch Rhododendren zur Nangbu Kharka (Kharka = Alm), 3100 m, von wo sich der 6511 Meter hohe Kariolong präsentiert. Schöner kann der Auftakt für den Everest-Treck nicht sein.
                            </td>
                            <td>
                                <a href="http://www.gpsies.com/map.do?fileId=woakuziaqwzasure" target="_blank" title="GPSies - Nepal 2 - Lukla - Nangbu Kharka"><img src="http://www.gpsies.com/images/linkus.png" border="0" width="80" alt="GPSies - Nepal 2 - Lukla - Nangbu Kharka" /></a>
                            </td>
                            <td>
                                <a href="https://1drv.ms/f/s!AlVNeomY2iiZnqJ2mVCqvvokJ0yHpw" title="Fotos Lukla" target="_blank"><img class="img-fluid" src="https://c1.staticflickr.com/9/8549/30404930605_2777c57282_m.jpg" height="160 " alt="Fotos Lukla"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Monjo, 500 Hm</td>
                            <td>
                                Wanderung zur Everest Summit Lodge Monjo, 2800 m, zunächst hinab zum „Milchfluss” Dudh Khosi, dann abseits der Hauptroute bergan in Richtung Everest-Nationalpark. Ihre Trinkflaschen hat man mit Tee gefüllt, denn in der Höhe ist es wichtig, dass Sie ausreichend Flüssigkeit zu sich nehmen. Unterwegs Besuch im uralten Kloster Gumela. Das Programm ist so aufgebaut, dass man sich Schritt für Schritt an die Höhe gewöhnen kann. Ihr Bergwanderführer wurde von uns geschult und hat für den Notfall ein Satellitentelefon dabei. Die Träger sind vor Ihnen da und das Gepäck wartet bereits in Ihren Zimmern. Freie Zeit erlaubt Ihnen Streifzüge ums Sherpa-Dorf Monjo (zwei Nächte in der Komfort-Lodge) mit Blick auf den 6608 Meter hohen Tramserku.
                            </td>
                            <td>
                                <a href="http://www.gpsies.com/map.do?fileId=nfqjlymbycqjbfgw" title="GPSies - Nepal 3 - Monjo" target="_blank"><img src="http://www.gpsies.com/images/linkus.png" border="0" width="80" alt="GPSies - Nepal 3 - Monjo" /></a>
                            </td>
                            <td>
                                <a href="https://1drv.ms/f/s!AlVNeomY2iiZnqRv8UEpwT7aJyNTww" title="Fotos Monjo" target="_blank"><img class="img-fluid" src="https://c1.staticflickr.com/6/5596/29778331804_651f06512e_m.jpg" height="160 " alt="Fotos Monjo"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Aussichtspunkt Thakcho, 700 Hm</td>
                            <td>
                                Die Yak-Alm am Tramserku, 3500 m, bietet Sicht ins Khumbu bis nach Namche Bazar und zum Kloster Thame: Ziele der Folgetage. Und auf die Sechstausender-Gipfel Kongde Ri und Kariolong. Ganz nebenbei fördert der Tagesausflug auch Ihre Akklimatisation. Picknick-Lunch und Rückkehr zur Komfort-Lodge, wo Sie mit einem warmen Tee empfangen werden und eine heiße Dusche auf Sie wartet. Zum Abendessen gibt es vielleicht das schmackhafte nepalesische Nationalgericht Dal Bhat, dessen Grundbestandteile Reis und Linsen, Tomaten, Zwiebeln und Chili sind und das je nach Region mit verschiedenen Gewürzen wie Ingwer oder Koriander verfeinert wird.
                            </td>
                            <td>
                                <a href="http://www.gpsies.com/map.do?fileId=jyzuvalsyuevjpxi" title="GPSies - Nepal 4 - Aussichtspunkt Thakcho" target="_blank"><img src="http://www.gpsies.com/images/linkus.png" border="0" width="80" alt="GPSies - Nepal 4 - Aussichtspunkt Thakcho" /></a>
                            </td>
                            <td>
                                <a href="https://1drv.ms/f/s!AlVNeomY2iiZnqUR3sf07nQ_uLGdeg" title="Fotos Thakcho" target="_blank"><img class="img-fluid" src="https://c1.staticflickr.com/9/8582/30322795661_5554c45b28_m.jpg" height="160 " alt="Fotos Thakcho"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Namche Bazar – Tashinga, 900 Hm</td>
                            <td>
                                Eintritt in den Everest-Nationalpark und weiter am Everest-Treck entlang dem schäumenden Dudh-Kosi-Fluss zur berühmten Hillary-Brücke. Dann führt der Weg steil bergan zur Sherpa-Metropole Namche Bazar, 3450 m. Rhododendren und Magnolien erreichen Baumhöhe und stehen in den Frühjahrsmonaten in Blüte. Ein erster Blick zum Mount Everest ist möglich. Hoch über dem Imja-Drangka-Fluss gelangen Sie auf einem aussichtsreichen Panoramaweg zur Everest Summit Lodge Tashinga, 3500 m (zwei Nächte). Spektakulär erheben sich gegenüber die Eispyramide der Ama Dablam, 6865 m, und der Achttausender Everest. Jetzt merken Sie auch, wie wichtig das Akklimatisationsprogramm des Vortages war. Zur Sicherheit sind die Komfort-Lodges mit höhenmedizinischen Überdruckkammern ausgestattet. Sie genießen das schmackhafte Abendessen und kuscheln sich in Ihr Bett. Auf Wunsch steigert eine Wärmflasche das Wohlbefinden.
                            </td>
                            <td>
                                <a href="http://www.gpsies.com/map.do?fileId=rukldzrgsvhqqgxt" title="GPSies - Nepal 5 - Tashinga über Namche Bazar" target="_blank"><img src="http://www.gpsies.com/images/linkus.png" border="0" width="80" alt="GPSies - Nepal 5 - Tashinga über Namche Bazar" /></a>
                            </td>
                            <td>
                                <a href="https://1drv.ms/f/s!AlVNeomY2iiZnqVFpDkgCjJXiKG4sA" title="Fotos Tashinga" target="_blank"><img class="img-fluid" src="https://c1.staticflickr.com/6/5337/29777106713_4a53889c79_m.jpg" height="160 " alt="Fotos Tashinga"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Sherpa-Kloster Tengpoche, 900 Hm</td>
                            <td>
                                Das berühmteste aller Sherpa-Klöster breitet sich gleich einem natürlichen Mandala zu Füßen der formschönen Ama Dablam hin. Erst führt der Weg hinab nach Phunki, 3250 m, mit vielen Gebetsfahnen an der Brücke. Der sich anschließende Aufstieg folgt dem alten Pilgerweg durch üppigen Rhododendronwald hinauf zum berühmten Kloster Tengpoche, 3870 m, das Sie besichtigen. Sie genießen das Mittagessen an einem der schönsten Plätze des Himalaya und lassen die herrliche Umgebung auf sich wirken. Im Frühjahr, wenn der Rhododendron blüht, stehen die „Berge in Flammen”. Everest und Lhotse zeigen sich von Ihren schönsten Seiten. Rückkehr zur Komfort-Lodge Tashinga.
                            </td>
                            <td>
                                <a href="http://www.gpsies.com/map.do?fileId=sovbgfnrqhkbhhtl" title="GPSies - Nepal 6 - Kloster Tengpoche" target="_blank"><img src="http://www.gpsies.com/images/linkus.png" border="0" width="80 " alt="GPSies - Nepal 6 - Kloster Tengpoche" /></a>
                            </td>
                            <td>
                                <a href="https://1drv.ms/f/s!AlVNeomY2iiZnqVtWeo2aGfLnxdmhQ" title="Fotos Tengpoche" target="_blank"><img class="img-fluid" src="https://c1.staticflickr.com/9/8675/30292256612_5c819143da_m.jpg" height="160 " alt="Fotos Tengpoche"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Tashinga – Khumjung – Mende, 700 Hm</td>
                            <td>
                                Eine Panoramawanderung ohnegleichen stellt der Wechsel zur Everest Summit Lodge Mende dar. Aufstieg zur großen Sherpa-Siedlung Khumjung-Kunde – die Sechstausender Taboche, Tramserku, Kang Taiga und Ama Dablam immer wieder vor Augen. Der Ort wird geprägt von einer altehrwürdigen Gompa (Kloster) mit einer bedeutenden Bibliothek. Der Everest-Erstbesteiger Sir Edmund Hillary hat hier ein Hospital eingerichet. Eine schöne Aussichtskanzel in 3933 Meter Höhe bietet Sicht auf die Achttausender Lhotse und Mount Everest. Dann steigen Sie durch duftenden Tannen- und Wacholderwald ab. Manchmal sind die riesenhaften, in der Sherpa-Sprache „Thar” genannten, wilden Bergziegen zu sehen. Aber auch Buntfasane, der Wappenvogel Nepals, sind hier beheimatet. Über Phurte, 3520 m, gelangen Sie schließlich zur Everest Summit Lodge Mende, 3730 m (zwei Nächte). Zottelige Yaks grasen neben der Komfort-Lodge. Gegenüber erhebt sich der Doppelgipfel des Kongde Ri. Das nahe Wasserkraftwerk Thame liefert Strom und sorgt im Gastraum und in den Zimmern für wohlige Wärme.
                            </td>
                            <td>
                                <a href="http://www.gpsies.com/map.do?fileId=kawzbudjtjcgcjwu" title="GPSies - Thame-Gompa" target="_blank"><img src="http://www.gpsies.com/images/linkus.png" border="0" width="80 " alt="GPSies - Thame-Gompa" /></a>
                            </td>
                            <td>
                                <a href="https://1drv.ms/f/s!AlVNeomY2iiZnqV8Cq1n3ZBeP15BFQ" title="Fotos Thame-Gompa" target="_blank"><img class="img-fluid" src="https://c1.staticflickr.com/9/8642/30408828155_b0b4713393_m.jpg" height="160 " alt="Fotos Thame-Gompa"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Kloster Thame-Gompa, 270 Hm</td>
                            <td>
                                Das Kloster Thame, 3800 m, erreichen Sie über den Panorama-Weg hoch über dem Bhote Kosi (Kosi = Fluss) – mit Blick auf die Sechstausender Kongde Ri, Teng Kangpoche, Pigpherago Shar und Tengi Ragi Tau. Der Lama zeigt Ihnen gerne die altehrwürdigen Thangkas (Rollbilder). Die Rückkehr zur Lodge erfolgt auf dem alten Handelsweg, der das Sherpa-Land mit Tibet verbindet. Sherpa-Kulturabend mit Musik und Tanz. Sie befinden sich in der Heimat des Schneeleoparden und des Yeti und lauschen gespannt den Geschichten, die man sich hier von ihnen erzählt.
                            </td>
                            <td>
                                <a href="http://www.gpsies.com/map.do?fileId=fozutxzyubpcstwe" title="GPSies - Mende" target="_blank"><img src="http://www.gpsies.com/images/linkus.png" border="0" width="80 " alt="GPSies - Mende" /></a>
                            </td>
                            <td>
                                <a href="https://1drv.ms/f/s!AlVNeomY2iiZnqZJxEzzg_PbYT4HOA" title="Fotos Mende" target="_blank"><img class="img-fluid" src="https://c1.staticflickr.com/6/5815/30111798240_baecd47db8_m.jpg" height="160 " alt="Fotos Mende"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Namche Bazar – Monjo, 200 Hm</td>
                            <td>
                                Das Meditations-Kloster Laudo über der Lodge ist Ziel einer Morgenwanderung. Mönche haben hier die Einsamkeit gesucht. Dann treten Sie den Rückweg an. Und hier hatten wir endlich freien Blick auf den Everest und Lhotse! Noch einmal überschreiten Sie auf dem Everest-Treck die Hillary-Brücke und wandern zurück zur bekannten Komfort-Lodge in Monjo, 2800 m.
                            </td>
                            <td>
                                <a href="http://www.gpsies.com/map.do?fileId=fvpumzlhatbepofw" title="GPSies - Rückweg Monjo" target="_blank"><img src="http://www.gpsies.com/images/linkus.png" border="0" width="80 " alt="GPSies - Rückweg Monjo" /></a>
                            </td>
                            <td>
                                <a href="https://1drv.ms/f/s!AlVNeomY2iiZnqZ10AISQAhLbTAhWQ" title="Fotos Everest" target="_blank"><img class="img-fluid" src="https://c1.staticflickr.com/9/8279/30372859216_02615a0359_m.jpg" height="160 " alt="Fotos Everest"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Lukla, 500 Hm</td>
                            <td>
                                Die letzte Etappe auf dem Everest-Treck führt zurück nach Lukla, 2800 m: Sherpa-Läden laden zum Shopping, Teehäuser zur Rast. Zuvor haben Sie vielleicht der kleinen Dorfschule von Monjo einen Besuch abgestattet, die mit Spendengeldern von DAV Summit Club-Kunden tatkräftig gefördert wurde. Sie nehmen Abschied von Ihren treuen Begleitern. Die Everest Summit Lodge in Lukla bietet gewohnt guten Komfort und wie immer allerbeste Küche.
                            </td>
                            <td>
                                <a href="http://www.gpsies.com/map.do?fileId=mpvsxtyecaeoqlbk" title="GPSies - Rückweg Lukla" target="_blank"><img src="http://www.gpsies.com/images/linkus.png" border="0" width="80 " alt="GPSies - Rückweg Lukla" /></a>
                            </td>
                            <td>
                                <a href="https://1drv.ms/f/s!AlVNeomY2iiZnqZ2smyiF4HXSjSB4Q" title="Fotos Lukla" target="_blank"><img class="img-fluid" src="https://c1.staticflickr.com/9/8409/30372899456_b41e524b7a_m.jpg" height="160 " alt="Fotos Lukla"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Kathmandu</td>
                            <td>
                                Flug von Lukla und dann erste Runde in Kathmandu rund um Bhouda.
                            </td>
                            <td></td>
                            <td>
                                <a href="https://1drv.ms/f/s!AlVNeomY2iiZnqcggte1iM9WgX3Nwg" title="Fotos Kathmandu Bhouda" target="_blank"><img class="img-fluid" src="https://c1.staticflickr.com/9/8420/30112335320_65d6a86c37_m.jpg" height="160 " alt="Fotos Kathmandu Bhouda"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Kathmandu</td>
                            <td>
                                Durch das Touristenviertel Thame zu Fuß zur Swayambhu Stupa.
                            </td>
                            <td></td>
                            <td>
                                <a href="https://1drv.ms/f/s!AlVNeomY2iiZnqcphb-T2B18H3_TjQ" title="Fotos Swayambhu" target="_blank"><img class="img-fluid" src="https://c1.staticflickr.com/9/8647/30112337410_a0b35c57a5_m.jpg" height="160 " alt="Fotos Swayambhu"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Kathmandu</td>
                            <td>
                                Durch die Altstadt von Kathmandu.
                            </td>
                            <td></td>
                            <td>
                                <a href="https://1drv.ms/f/s!AlVNeomY2iiZnqcwbco0imknqgEx4Q" title="Fotos Altstadt Kathmandu" target="_blank"><img class="img-fluid" src="https://c1.staticflickr.com/6/5581/29778999544_45e000361b_m.jpg" height="160 " alt="Fotos Altstadt Kathmandu"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
}


