@page
@model robert_brands_com.Pages.AboutModel
@{
    ViewData["Title"] = "Über diese Site";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>@ViewData["Title"]</h4>
        </div>
        <div class="card-body">
            Diese Site habe ich als kleine Fingerübung entwickelt, um mit
            <ul>
                <li>
                    <a href="https://docs.microsoft.com/en-us/aspnet/core/" target="_blank">ASP.NET Core</a> und jetzt auch
                    <a href="https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-6.0" target="_blank">ASP.NET Core 6.0</a> mit den
                    <a href="https://docs.microsoft.com/en-us/aspnet/core/razor-pages" target="_blank">Razor Pages</a>
                </li>
                <li><a href="https://azure.microsoft.com/de-de/services/active-directory/" target="_blank">Azure AD</a></li>
                <li>NoSQL Datenbank <a href="https://azure.microsoft.com/de-de/services/cosmos-db/" target="_blank">Azure Cosmos DB</a></li>
                <li><a href="https://azure.microsoft.com/de-de/services/app-service/web/" target="_blank">Azure Web-Apps</a></li>
                <li><a href="http://getbootstrap.com/" target="_blank">Responsive Design mit Bootstrap</a> mit der Version 4.0</li>
                <li><a href="https://help.github.com/en/actions" target="_blank">GitHub Actions</a></li>
            </ul>
            "warm" zu werden.
            <p>
                Und in der aktuellen Version liegt der komplette Source-Code der Anwendung auf GitHub: <a href="https://github.com/rbrands/robert-brands-com" target="_blank">https://github.com/rbrands/robert-brands-com</a>
                In dem Wiki des GitHub-Repositories ist auch alles mehr oder weniger umfangreich dokumentiert. 
            </p>
            <p>&nbsp;</p>
            <p><a asp-page="Datenschutz" title="Datenschutz">Datenschutzerklärung</a></p>
        </div>
    </div>
</div>

