@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Fehler.</h1>
<h2 class="text-danger">Sorry, es ist ein Fehler aufgetreten.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Entwicklungsumgebung</h3>
<p>
    Nach Wechsel auf die <strong>Entwicklungsumgebung</strong> werden detaillierte Informationen über den aufgetretenen Fehler angezeigt.
</p>
<p>
    <strong>Die Entwicklungsumgebung sollte nicht für produktive Anwendungen aktiviert sein.</strong>
    Dies kann dazu führen, dass sensible Informationen aus Exceptions für Endbenutzer angezeigt werden.
    Umschaltung auf Entwicklungsmodus durch setzen der Umgebungsvariable <strong>ASPNETCORE_ENVIRONMENT</strong> auf <strong>Development</strong>.
    und die Anwendung neu starten.
</p>
